.aboutDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  max-width: 600px;
  margin: auto;
  margin-bottom: 20vh;

  text-align: center;
}

.aboutText {
  margin: 20px;
  font-size: 125%;
}
